img {
    opacity: 86%;
}

.owner {
    position: absolute;
    top: 1rem;
    left: 1rem;
    font-size: 25px;
    color: white;
}

.owner:hover {
    color: yellow;
}

.register {
    position: absolute;
    top: 1rem;
    right: 3rem;
    font-size: 25px;
    color: wheat;
}
.register:hover{
    color: yellow;
    cursor: pointer;
}

.blogsite {
    position: absolute;
    top: 4rem;
    left: 45%;
    font-size: 28px;
    color: whitesmoke;
    
}

.welcome {

    position: absolute;
    top: 14rem;
    left: 20%;
    color: whitesmoke;
    font-size: 31px;
}

mat-card {
    width: 250px;
    height: 300px;
    position: absolute;
    top: 9rem;
    left: 43%;
}